In [2]:
print("Hello World")

Hello World


# 가장 큰 글자

##### 가장 작은 글자

##### 1 . 1부터 6까지의 랜덤 정수 화면에 출력하는 dice_1 함수를 만들어 주세요.

##### 2. a부터 b까지 렌덤 정수를 화면에 출력하는 dice_2 함수를 만들기

##### 3. a부터 b까지의 렌덤 정수 7개를뽑아 리스트로 만들어 주는 dice_3 만들기

##### 4. a부터 b까지 중복 없는 정수 7개 리스트로 만들어 주는 dice_4 만들기

In [3]:
from random import randint
a = randint(1, 6)
print(a)

2

In [4]:
# 1번
def dice_1():
    print(randint(1, 6))
    
dice_1()

4

In [5]:
# 2번
def dice_2(a, b):
    
    a = randint(a, b)
    
    return a

dice_2(1, 10)

7

In [6]:
# 3번
def dice_3(a, b):
    rands = []
    for i in range(0, 7):
        rands.append(randint(a, b))
    
    print(rands)

dice_3(1, 100)

[83, 88, 99, 14, 76, 83, 35]

In [7]:
# 4번

def dice_4():
    rands = []
    i = 0
    
    while i < 7:
        rand = dice_2(1, 45)
        if rand in rands:
            pass
        else:
            i += 1
            rands.append(rand)
            
    return rands
        
dice_4()

[28, 7, 44, 33, 30, 26, 16]

### set : 집합과 같다.

### 집합은 중복을 허용하지 않는다.

# 예외처리

In [8]:
try:
    print("Hello World")
    1 + "1"
    print("실행 시켜 주세요.")
except:
    print("여기로 온다.~~")

Hello World
여기로 온다.~~

# 클래스

In [9]:
print(type(5))
print(type(5.0))

<class 'int'>
<class 'float'>

In [10]:
a = [1, 3, 5]
b = (1, 3, 5)

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [11]:
class calc():
    def __init__(self, number):
        self.number = number
    def plus(self, new_number):
        print(self.number + new_number)
c1 = calc(10)
c1.plus(5)

15

In [12]:
class calc_2():
    def __init__(self, number):
        self.number = number
    def plus(self, new_number):
        print(self.number + new_number)
    def minus(self, new_number):
        print(self.number - new_number)
        
c1 = calc_2(10)
c1.plus(3)
c1.minus(12)

13
-2

# 딕셔너리 안에 딕셔너리

In [13]:
date = {"results":{"sunrise":"5:08:33 AM","sunset":"7:19:36 PM","solar_noon":"12:14:05 PM","day_length":"14:11:03","civil_twilight_begin":"4:39:35 AM","civil_twilight_end":"7:48:35 PM","nautical_twilight_begin":"4:04:02 AM","nautical_twilight_end":"8:24:08 PM","astronomical_twilight_begin":"3:25:26 AM","astronomical_twilight_end":"9:02:43 PM"},"status":"OK"}

In [14]:
date.keys()

dict_keys(['results', 'status'])

In [15]:
date.values()

dict_values([{'sunrise': '5:08:33 AM', 'sunset': '7:19:36 PM', 'solar_noon': '12:14:05 PM', 'day_length': '14:11:03', 'civil_twilight_begin': '4:39:35 AM', 'civil_twilight_end': '7:48:35 PM', 'nautical_twilight_begin': '4:04:02 AM', 'nautical_twilight_end': '8:24:08 PM', 'astronomical_twilight_begin': '3:25:26 AM', 'astronomical_twilight_end': '9:02:43 PM'}, 'OK'])

In [16]:
list(date["results"].keys())

['sunrise',
 'sunset',
 'solar_noon',
 'day_length',
 'civil_twilight_begin',
 'civil_twilight_end',
 'nautical_twilight_begin',
 'nautical_twilight_end',
 'astronomical_twilight_begin',
 'astronomical_twilight_end']

In [17]:
# list(date["results"].values())

In [18]:
date["results"]["day_length"]

'14:11:03'

#### 1. 모든 시간 정보를 화면에 표시하기

In [19]:
#1, 반복문X
print(date["results"]["sunrise"])
print(date["results"]["sunset"])
print(date["results"]["solar_noon"])
print(date["results"]["day_length"])
print(date["results"]["civil_twilight_begin"])
print(date["results"]["civil_twilight_end"])
print(date["results"]["nautical_twilight_begin"])
print(date["results"]["nautical_twilight_begin"])
print(date["results"]["astronomical_twilight_begin"])
print(date["results"]["astronomical_twilight_end"])

5:08:33 AM
7:19:36 PM
12:14:05 PM
14:11:03
4:39:35 AM
7:48:35 PM
4:04:02 AM
4:04:02 AM
3:25:26 AM
9:02:43 PM

In [20]:
#2, 반복문O
for i in date["results"].values():
    print(i)
    
print("\n"+ "=" * 30 + "\n")

for i in date["results"].keys():
    print(date["results"][i])

5:08:33 AM
7:19:36 PM
12:14:05 PM
14:11:03
4:39:35 AM
7:48:35 PM
4:04:02 AM
8:24:08 PM
3:25:26 AM
9:02:43 PM

==============================

5:08:33 AM
7:19:36 PM
12:14:05 PM
14:11:03
4:39:35 AM
7:48:35 PM
4:04:02 AM
8:24:08 PM
3:25:26 AM
9:02:43 PM

In [21]:
for i in date.values():
    print(i)

{'sunrise': '5:08:33 AM', 'sunset': '7:19:36 PM', 'solar_noon': '12:14:05 PM', 'day_length': '14:11:03', 'civil_twilight_begin': '4:39:35 AM', 'civil_twilight_end': '7:48:35 PM', 'nautical_twilight_begin': '4:04:02 AM', 'nautical_twilight_end': '8:24:08 PM', 'astronomical_twilight_begin': '3:25:26 AM', 'astronomical_twilight_end': '9:02:43 PM'}
OK

# 문자열

In [22]:
sample = "5:08:33 AM"

In [23]:
print("오전", sample[0]+"시", sample[2:4] + "분", sample[5:7] + "초")

오전 5시 08분 33초

In [24]:
date = sample.split(":")

print("오전", date[0] + "시", date[1] + "분", date[2][:2] + "초")

오전 5시 08분 33초

In [25]:
hms = sample.split()[0]
ap = sample.split()[1]

h = hms.split(":")[0]
m = hms.split(":")[1]
s = hms.split(":")[2]

print(h, m, s, ap)

5 08 33 AM

# time_display

In [26]:
sample = "7:48:35 AM"

def time_display(time):
    hms = time.split()[0]
    ap = time.split()[1]

    if ap == "AM":
        ap = "오전"
    elif ap == "PM":
        ap = "오후"
        
    h = hms.split(":")[0]
    m = hms.split(":")[1]
    s = hms.split(":")[2]
                 
    result = ap + " "+ h + "시 " + m + "분 "+ s +"초"
    
    print(result)
    
time_display(sample)

오전 7시 48분 35초

In [27]:
# 현재 시간


import datetime
 
time = datetime.datetime.now.split()
print (time)

def now_time():
    time = datetime.datetime.now.split()
    
    hms = time.split()[0]
    
    h = hms.split(":")[0]
    m = hms.split(":")[1]
    s = hms.split(":")[2]
    
    if int(h) > 12:
        ap = "오후"
        h = str(int(h) % 12)
    elif int(h) < 12:
        ap = "오전"
    
    re = f"{ap} {h}시 {m}분 {s}초"
    
# now_time()

AttributeError: 'builtin_function_or_method' object has no attribute 'split'

In [28]:
help(sample.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [29]:
#함수의 기본 값
def my_sample(a, b = 10):
    return a * b

my_sample(3)

30

In [30]:
sample = "8:20:21 PM"
def time_display(time):
    hms = time.split()[0]
    ap = time.split()[1]

    if ap == "AM":
        ap = "오전"
    elif ap == "PM":
        ap = "오후"
        
    h = hms.split(":")[0]
    m = hms.split(":")[1]
    s = hms.split(":")[2]
                 
    result = f"{ap} {h}시 {m}분 {s}초"
    
    print(result)
    
    
time_display(sample)

오후 8시 20분 21초

# request - 요청

In [1]:
import requests

url = "https://api.sunrise-sunset.org/json?lat=36.7201600&lng=-4.4203400"

date = requests.get(url).json()

date

{'results': {'sunrise': '5:26:28 AM',
  'sunset': '7:20:38 PM',
  'solar_noon': '12:23:33 PM',
  'day_length': '13:54:10',
  'civil_twilight_begin': '4:59:44 AM',
  'civil_twilight_end': '7:47:23 PM',
  'nautical_twilight_begin': '4:25:37 AM',
  'nautical_twilight_end': '8:21:30 PM',
  'astronomical_twilight_begin': '3:49:11 AM',
  'astronomical_twilight_end': '8:57:56 PM'},
 'status': 'OK'}

In [32]:
def pointed(lat, lng):
    url = f"https://api.sunrise-sunset.org/json?lat=37.532&lng=127.024&date=2020-01-17"
    
    date_1 = requests.get(url).json()["results"]
    
    return date_1
    
pointed(37.532, 127.024)

{'sunrise': '10:44:47 PM',
 'sunset': '8:38:57 AM',
 'solar_noon': '3:41:52 AM',
 'day_length': '09:54:10',
 'civil_twilight_begin': '10:16:25 PM',
 'civil_twilight_end': '9:07:18 AM',
 'nautical_twilight_begin': '9:44:20 PM',
 'nautical_twilight_end': '9:39:23 AM',
 'astronomical_twilight_begin': '9:13:01 PM',
 'astronomical_twilight_end': '10:10:43 AM'}

In [33]:
def Korea(time):

    hms = time.split()[0]
    ap = time.split()[1]

    h = str(int(hms.split(":")[0]) + 9)
    m = hms.split(":")[1]
    s = hms.split(":")[2]

    if int(h) >= 12:
        h = int(h) - 12
        if ap == "AM":
            ap = "PM"
        elif ap == "PM":
            ap = "AM"

    result = f"{h}:{m}:{s} {ap}"

    return result

In [34]:
kt = Korea("8:20:21 PM")

time_display(kt)

오전 5시 20분 21초

In [35]:
def by_date(date):
    url = "https://api.sunrise-sunset.org/json?lat=37.532&lng=127.024&date=" + date
    
    date = requests.get(url).json()
    
    return date["results"]
    
by_date("2020-03-01")

{'sunrise': '10:02:09 PM',
 'sunset': '9:26:02 AM',
 'solar_noon': '3:44:05 AM',
 'day_length': '11:23:53',
 'civil_twilight_begin': '9:36:01 PM',
 'civil_twilight_end': '9:52:10 AM',
 'nautical_twilight_begin': '9:05:43 PM',
 'nautical_twilight_end': '10:22:28 AM',
 'astronomical_twilight_begin': '8:35:25 PM',
 'astronomical_twilight_end': '10:52:46 AM'}

# 엑셀로 저장

In [36]:
import pandas as pd #pandas를 불러오는데 이름을 pd로 불러온다.


result1 = by_date("2020-03-01")
result2 = by_date("2020-03-02")

dates = [result1, result2]

pd.DataFrame(dates)


#와 미쳤다..........

,sunrise,sunset,solar_noon,day_length,civil_twilight_begin,civil_twilight_end,nautical_twilight_begin,nautical_twilight_end,astronomical_twilight_begin,astronomical_twilight_end
0,10:02:09 PM,9:26:02 AM,3:44:05 AM,11:23:53,9:36:01 PM,9:52:10 AM,9:05:43 PM,10:22:28 AM,8:35:25 PM,10:52:46 AM
1,10:00:45 PM,9:27:01 AM,3:43:53 AM,11:26:16,9:34:38 PM,9:53:08 AM,9:04:21 PM,10:23:25 AM,8:34:03 PM,10:53:44 AM

In [37]:
a1 = {
    "a" : [1,2,3,4],
    "b" : [5,6,7,8],
}

a2 = {
    "a" : [10,20,30,40], 
    "b" : [50,60,70,80],
}

a1d = pd.DataFrame(a1)
a2d = pd.DataFrame(a2)
pd.concat([a1d, a2d])    #cancat : 표 들을 이어 붙인다.

    a   b
0   1   5
1   2   6
2   3   7
3   4   8
0  10  50
1  20  60
2  30  70
3  40  80

In [38]:
dates = []

for d in range(1, 32):
    day = "2020-03-" + str(d)
    date = by_date(day)
    dates.append(date)
    
    
pd.DataFrame(dates)

,sunrise,sunset,solar_noon,day_length,civil_twilight_begin,civil_twilight_end,nautical_twilight_begin,nautical_twilight_end,astronomical_twilight_begin,astronomical_twilight_end
0,10:02:09 PM,9:26:02 AM,3:44:05 AM,11:23:53,9:36:01 PM,9:52:10 AM,9:05:43 PM,10:22:28 AM,8:35:25 PM,10:52:46 AM
1,10:00:45 PM,9:27:01 AM,3:43:53 AM,11:26:16,9:34:38 PM,9:53:08 AM,9:04:21 PM,10:23:25 AM,8:34:03 PM,10:53:44 AM
2,9:59:21 PM,9:28:00 AM,3:43:40 AM,11:28:39,9:33:15 PM,9:54:06 AM,9:02:58 PM,10:24:23 AM,8:32:39 PM,10:54:42 AM
3,9:57:56 PM,9:28:59 AM,3:43:27 AM,11:31:03,9:31:51 PM,9:55:03 AM,9:01:35 PM,10:25:20 AM,8:31:14 PM,10:55:40 AM
4,9:56:30 PM,9:29:57 AM,3:43:14 AM,11:33:27,9:30:27 PM,9:56:01 AM,9:00:10 PM,10:26:17 AM,8:29:49 PM,10:56:39 AM
5,9:55:04 PM,9:30:55 AM,3:43:00 AM,11:35:51,9:29:02 PM,9:56:58 AM,8:58:45 PM,10:27:14 AM,8:28:22 PM,10:57:37 AM
6,9:53:37 PM,9:31:53 AM,3:42:45 AM,11:38:16,9:27:36 PM,9:57:55 AM,8:57:19 PM,10:28:11 AM,8:26:55 PM,10:58:36 AM
7,9:52:10 PM,9:32:51 AM,3:42:30 AM,11:40:41,9:26:09 PM,9:58:51 AM,8:55:53 PM,10:29:08 AM,8:25:26 PM,10:59:34 AM
8,9:50:42 PM,9:33:48 AM,3:42:15 AM,11:43:06,9:24:42 PM,9:59:48 AM,8:54:25 PM,10:30:05 AM,8:23:57 PM,11:00:33 AM
9,9:49:14 PM,9:34:45 AM,3:42:00 AM,11:45:31,9:23:15 PM,10:00:45 AM,8:52:57 PM,10:31:02 AM,8:22:27 PM,11:01:32 AM
10,9:47:46 PM,9:35:42 AM,3:41:44 AM,11:47:56,9:21:47 PM,10:01:41 AM,8:51:28 PM,10:31:59 AM,8:20:56 PM,11:02:31 AM
11,9:46:17 PM,9:36:39 AM,3:41:28 AM,11:50:22,9:20:18 PM,10:02:37 AM,8:49:59 PM,10:32:57 AM,8:19:25 PM,11:03:31 AM
12,9:44:48 PM,9:37:35 AM,3:41:11 AM,11:52:47,9:18:49 PM,10:03:34 AM,8:48:29 PM,10:33:54 AM,8:17:53 PM,11:04:30 AM
13,9:43:18 PM,9:38:31 AM,3:40:55 AM,11:55:13,9:17:20 PM,10:04:30 AM,8:46:59 PM,10:34:51 AM,8:16:19 PM,11:05:30 AM
14,9:41:49 PM,9:39:27 AM,3:40:38 AM,11:57:38,9:15:50 PM,10:05:26 AM,8:45:28 PM,10:35:48 AM,8:14:46 PM,11:06:30 AM
15,9:40:19 PM,9:40:23 AM,3:40:21 AM,12:00:04,9:14:20 PM,10:06:22 AM,8:43:56 PM,10:36:46 AM,8:13:11 PM,11:07:30 AM
16,9:38:48 PM,9:41:19 AM,3:40:03 AM,12:02:31,9:12:49 PM,10:07:18 AM,8:42:24 PM,10:37:43 AM,8:11:36 PM,11:08:31 AM
17,9:37:18 PM,9:42:14 AM,3:39:46 AM,12:04:56,9:11:19 PM,10:08:13 AM,8:40:51 PM,10:38:41 AM,8:10:00 PM,11:09:32 AM
18,9:35:48 PM,9:43:09 AM,3:39:28 AM,12:07:21,9:09:48 PM,10:09:09 AM,8:39:19 PM,10:39:38 AM,8:08:24 PM,11:10:33 AM
19,9:34:17 PM,9:44:04 AM,3:39:11 AM,12:09:47,9:08:16 PM,10:10:05 AM,8:37:45 PM,10:40:36 AM,8:06:47 PM,11:11:34 AM
20,9:32:46 PM,9:44:59 AM,3:38:53 AM,12:12:13,9:06:45 PM,10:11:01 AM,8:36:12 PM,10:41:34 AM,8:05:10 PM,11:12:36 AM
21,9:31:16 PM,9:45:54 AM,3:38:35 AM,12:14:38,9:05:13 PM,10:11:56 AM,8:34:38 PM,10:42:32 AM,8:03:32 PM,11:13:38 AM
22,9:29:45 PM,9:46:49 AM,3:38:17 AM,12:17:04,9:03:42 PM,10:12:52 AM,8:33:04 PM,10:43:30 AM,8:01:53 PM,11:14:40 AM
23,9:28:14 PM,9:47:43 AM,3:37:59 AM,12:19:29,9:02:10 PM,10:13:48 AM,8:31:29 PM,10:44:28 AM,8:00:15 PM,11:15:43 AM
24,9:26:43 PM,9:48:38 AM,3:37:41 AM,12:21:55,9:00:38 PM,10:14:44 AM,8:29:54 PM,10:45:27 AM,7:58:35 PM,11:16:46 AM
25,9:25:13 PM,9:49:32 AM,3:37:22 AM,12:24:19,8:59:06 PM,10:15:39 AM,8:28:19 PM,10:46:26 AM,7:56:56 PM,11:17:49 AM
26,9:23:42 PM,9:50:27 AM,3:37:04 AM,12:26:45,8:57:34 PM,10:16:35 AM,8:26:44 PM,10:47:24 AM,7:55:16 PM,11:18:53 AM
27,9:22:12 PM,9:51:21 AM,3:36:46 AM,12:29:09,8:56:01 PM,10:17:31 AM,8:25:09 PM,10:48:24 AM,7:53:35 PM,11:19:57 AM
28,9:20:41 PM,9:52:15 AM,3:36:28 AM,12:31:34,8:54:29 PM,10:18:27 AM,8:23:34 PM,10:49:23 AM,7:51:55 PM,11:21:02 AM
29,9:19:11 PM,9:53:09 AM,3:36:10 AM,12:33:58,8:52:57 PM,10:19:23 AM,8:21:58 PM,10:50:22 AM,7:50:14 PM,11:22:07 AM
30,9:17:41 PM,9:54:04 AM,3:35:52 AM,12:36:23,8:51:26 PM,10:20:19 AM,8:20:23 PM,10:51:22 AM,7:48:33 PM,11:23:12 AM